<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />


<head>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/fractionslider.css')}" />
  <title>Pegasus</title>
</head>

<body>

<div class="container">
	<p class="lead"><b>Nombre de usuario:</b> ${usuario.user_name}</p>


	<p class="lead"><b>Email:</b> ${usuario.email_address}</p>

	<p class="lead"><b>Nombre:</b> ${usuario.display_name}</p>

	<a class="btn btn-lg btn-success" href="${tg.url('admin/edit')}"> Editar los datos </a>

</div>

</body>


</html>