<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />


<head>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/fractionslider.css')}" />
  <title>Pegasus</title>
</head>

<body>

<div>Nombre de usuario: ${usuario.user_name}</div>

<div>Email: ${usuario.email_address}</div>

<div>Nombre: ${usuario.display_name}</div>

<a class="btn" href="${tg.url('admin/edit')}"> Editar los datos </a>

</body>


</html>