<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />


<head>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/fractionslider.css')}" />
  <title>Pegasus</title>
</head>

<body>


<div class="container">
	<p class="lead"><b>Nombre de usuario:</b> ${usuario.user_name}</p>

	<p class="lead"><b>Email:</b> ${usuario.email_address}</p>

	<p class="lead"><b>Nombre:</b> ${usuario.display_name}</p>

	<div>
	<form action="${tg.url('cambia_pass')}">
		<p class="lead">Contraseña anterior: <input class="form-control" type="password" name="old_pass"/></p>
		<p class="lead">Contraseña nueva: <input class="form-control" type="password" name="new_pass"/></p>
		<p class="lead"><input class="btn btn-lg btn-warning" type="submit" value="Cambia tu contraseña"/></p>
	</form>
	</div>

	<div>
	<form action="${tg.url('cambia_nombre')}">
		<p class="lead">Nombre: <input class="form-control" type="text" name="nombre"/></p>
		<p class="lead">Apellido: <input class="form-control" type="text" name="apellido"/></p>
		<p class="lead"><input class="btn btn-lg btn-warning" type="submit" value="Cambia tu nombre"/></p>
	</form>
	</div>
</div>

</body>


</html>