<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/fractionslider.css')}" />
  <title>Bookmanizer</title>
</head>

<body>  



  <div class="slider" style="height: 500px;width:100%;">  

    <div class="row">

      <div class="col-md-2 col-md-offset-1 col-xs-12">
        <div style="z-index:90000;position:relative;top:20px;right:0;width:100%;">
          <h1 class="webkit main-title">Bookmanizer</h1>
        </div>
      </div>

      <div class="col-md-3 col-md-offset-5 col-xs-5 col-xs-offset-4">
        <div class="panel panel-default" style="z-index:90000;position:absolute;top:80px;left:0;width:100%;">
          <div class="panel-body">
            <form role="form" action="${tg.url('/register')}" method="post">
              <div class="form-group">
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required="required"/>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="email" required="required"/>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="required"/>
              </div>
              <input type="submit" class="btn btn-block btn-success" value="Register"/>
            </form>
          </div>
        </div>
      </div>
    </div>  

    <div class="slide" data-in="scrollRight" style="background-image: url('/img/architecture_slide.jpg');"/>
    <div class="slide" data-in="slideBottom" style="background-image: url('/img/math_slide.jpg');"/>
    <div class="slide" data-in="scrollTop" style="background-image: url('/img/school_slide.jpg');"/>
    <div class="slide" data-in="slideLeft" style="background-image: url('/img/library_slide.jpg');"/>
  </div>

  <section id="slide-1" class="homeSlide">
    <div class="bcg" style="background: #e7e7e7;">
      <div class="hsContainer">
          <div class="hsContent" data-center="bottom: 200px; opacity: 1"
                data-top="bottom: 1200px; opacity: 0"
                data-anchor-target="#slide-1 p">
            <br/><br/><br/>
            <div class="row">
              <div class="col-md-7 col-md-offset-1" >
                <p style="font-size:60px;">Here is Bookmanizer. Web surfing made social</p>
                <p style="font-size:40px;">Now on your favorite web browser. </p>
                <p style="font-size:40px;">Coming soon as google extension</p>
              </div>

              <div class="col-md-4">
                <div class="circle bcg" style="background-image: url('/img/quantitative.jpg');"
                  data-center="background-position: 50% 0px;"
                  data-top-bottom="background-position: 50% -400px;"
                  data-anchor-target="#slide-1">

                </div>

              </div>
            </div>
            <br/><br/><br/>

          </div>
      </div>
    </div>
  </section>

  <section id="slide-2" class="homeSlide">
    <div class="bcg" style="background: url('/img/parallax_1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;"
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -250px;"
      data-anchor-target="#slide-2">

      <div class="hsContainer">
          <div class="hsContent" data-center="bottom: 200px; opacity: 1"
                data-top="bottom: 1200px; opacity: 0"
                data-anchor-target="#slide-2 p">
            <br/><br/><br/>
            <div class="row">
              <div class="col-md-6 col-md-offset-5 col-xs-6 col-xs-offset-5">
                <p style="font-size:60px;">Discover Us</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div style="min-height:126px;" class="panel panel-default">
                  <div class="panel-body">
                    <p  align="center" style="font-size:30px;">Explore new adventures in the web.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div style="min-height:126px;" class="panel panel-default">
                  <div class="panel-body">
                    <p  align="center" style="font-size:30px;">Share your links with your friends. Don't ever forget a link again.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div style="min-height:126px;" class="panel panel-default">
                  <div class="panel-body">
                    <p  align="center" style="font-size:30px;">Organize your bookmarks. A sweet way of keeping your knowledge neat and cool.</p>
                  </div>
                </div>
              </div>
            </div>
            <br/><br/><br/>
          </div>
      </div>
    </div>
  </section>

  

</body>

<script src="${tg.url('/javascript/jquery.fractionslider.min.js')}" />
<script src="${tg.url('/javascript/skrollr.min.js')}" />
<script src="${tg.url('/javascript/landpage.js')}" />

</html>
