<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />


<head>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/fractionslider.css')}" />
  <title>Pegasus</title>
</head>

<body>

<div>
	<div py:choose="">
		<div py:when="len(resp) == 0">
			<div>No has guardado links todavía. Comienza (:</div>
			<form>
				<input type="submit" value="Agregar"></input>
			</form>
		</div>
		<div class="panel-group" id="accordion" py:otherwise="">
			<py:for each="categorias in resp">
		    	<div class="panel panel-default">
			    	<div class="panel-heading">
			    		<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="${'#collapse'+str(categorias.id)}">
			    				${categorias.name}
			    			</a>
			    		</h4>
			    	</div>
		    		<div id="${'collapse'+str(categorias.id)}" class="panel-collapse collapse">
		    			<div class="panel-body">
					    	<py:for each="link in categorias.links">
					    		<div class="col-md-3">
						          <div class="panel panel-default results-panel" onClick="goToPage(this)">
						            <div class="panel-heading">
						              <h3 id="title" class="panel-title">${link.url}</h3>
						            </div>
						            <div class="panel-body" >
						              <div id="description" class="panel-body-footer"/>
						            </div>
						            <div class="panel-footer">
						              <div style="float:left;" class="fb-share-button" data-href="${link.url}" data-type="button"></div>
						              <div style="margin-top:0px;margin-left:15px;float:left;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="${link.url}" data-lang="en">Tweet</a></div>              
						            </div>
						            <form id="showPage" method="post" action="${tg.url('/link', params=dict(lid=link.id) )}">
						              <input type="hidden" name="lid" id="url" value="${link.id}"/>
						            </form>
						          </div>
						        </div>
					    	</py:for>
				    	</div>
		    		</div>
		    	</div>
		    </py:for>
		</div>
	</div> 
</div> 

</body>

<script src="${tg.url('/javascript/search_results.js')}"></script>

</html>
