<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

	<py:def function="navbarLink()">
		<div class="top-bar">
           <div class="slidedown collapse">
              <div class="container">
                 <div class="link-controls pull-left">
                    <a href="#"><i class="fa fa-thumbs-o-up" style="font-size: 30px;"></i></a>
                    <a href="#"><i class="fa fa-thumbs-o-down" style="font-size: 30px;"></i></a>
                    <a href="#"><i class="fa fa-star-o" style="font-size: 30px;"></i></a>
                    <a href="#show_menu" id="#show_menu"><i class="fa fa-flag-o" style="font-size: 30px;"></i></a>
                 </div>
                 <div class="pull-right">
                    <ul class="social pull-left">
                       <li class="facebook"><a style="cursor: pointer;"><i class="fa fa-facebook"></i></a></li>
                       <li class="twitter"><a style="cursor: pointer;"><i class="fa fa-twitter"></i></a></li>
                       <li class="linkedin"><a style="cursor: pointer;"><i class="fa fa-linkedin"></i></a></li>
                       <li class="rss"><a style="cursor: pointer;"><i class="fa fa-rss"></i></a></li>
                    </ul>
                 </div>
              </div>
           </div>
		</div>
	</py:def>
</html>