<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <!-- SIEMPRE SE INCLUYE EL MASTER, que es en donde están ya referenciados las BIBLIOTECAS (¬¬)
      de javascript que se vayan a utilizar (i.e. jQuery, librerias custom, etc) y los archivos CSS
      en donde esten los estilos que vayamos a definir. Además esta página tiene ya la barrita de
      navegación que se encuentra en el tope de la página.
    -->
  <xi:include href="master.html" />

<head>
  <title>${page}</title>
</head>

<body>

  <!-- 'container' es una clase de Bootstrap para centrar el contenido de la página -->
  <div class="container">

    <div class="row">
      <div class="col-md-12">
          <h1>Esta página es la que está definida en el método index del controlador SampleController,
          por lo que es la página que se abrirá por default al escribir en la URL /sample </h1>
          <h4>(Ver los comentarios en este archivo HTML)</h4>
      </div>
    </div>

    <!-- esto es un copy-paste de la página de bootstrap jajaja solo le puse los tamaños. -->
    <div class="row">

      <!-- Este panel ocupará 5 columnas de la fila (5/12 del ancho total) -->
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Más componentes de Bootstrap</h3>
          </div>
          <div class="panel-body">
            <p>Este es un panel generado con el CSS de Bootstrap</p>
            <br/>
            <button class="btn btn-default btn-info" onClick=" window.location.href='http://getbootstrap.com/components/#panels' ">Ver doc de los paneles</button>
          </div>
        </div>
      </div>

      <!-- Este panel también ocupará 5 columnas de la fila (5/12 del ancho total) pero habrá una columna vacía
      entre el panel anterior y este. No es necesario llenar las 12 pero no puede haber más. -->
      <div class="col-md-5 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Más componentes de Bootstrap</h3>
          </div>
          <div class="panel-body">
            <p>Este es un panel generado con el CSS de Bootstrap</p>
            <br/>
            <button class="btn btn-default btn-info" onClick=" window.location.href='http://getbootstrap.com/components/#panels' ">Ver doc de los paneles</button>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-5">
        <button class="btn btn-large btn-info" onClick="window.location.href=' ${tg.url('/sample/form')} '">
          <h2>Ir a la forma de prueba</h2>
        </button>
      </div>

      <div class="col-md-5 col-md-offset-1">
        <h3>También es importante mencionar que las páginas usan XHTML el cual es muy estricto con la sintaxis, así que es importante
          cerrar TODOS los tags, ya que si no se mostrará una página de error. </h3>
      </div>
    </div>

  </div>
  
</body>
</html>
