/* TurboGears flash bootstrap look */
#flash > div {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #c09853;
}

#flash > .ok {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#flash > .error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

#flash > .info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Footer styling */
.footer {
    margin-top: 45px;
    padding: 35px 30px 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}

.circle {
  border-radius: 50%;
  width: 350px;
  height: 350px; 
}

.link-iframe .top-bar {
  max-height: 60px;
  background: #25292C;
  border-bottom: 1px solid #414f5a;
  padding: 7px 0;
  color: #fff;
}

.link-iframe .top-bar .collapse {
  display: block !important;
  height: auto !important;
  overflow: visible !important;
  padding-bottom: 0;
}

.link-iframe .link-controls {
  padding: 3px 0;
}

.link-iframe .link-controls a{
  color: #fff;
  margin-left: 20px;
}

.link-iframe .social li {
  background-color: #FFF;
  border-radius: 100% 100% 100% 100%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
  display: inline-block;
  height: 25px;
  margin-right: 5px;
  width: 25px;
  text-align: center;
  background: #fff;
  -webkit-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  -ms-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  padding: 1px;
}

.results-panel .panel-body{
  height:200px;
  background-size:cover;
  background-repeat: no-repeat;
  padding: 0px !important;
}

.results-panel .panel-body-footer {
  height: 45px;
  margin-top: 155px;
  position: relative;
  color: #ffffff;
  background: rgba(0,0,0,0.5);
  padding: 5px;
  min-height: 40px;
}

.results-panel .panel-footer {
  min-height: 40px;
}

.results-panel .panel-heading {
  height: 55px;
  color: white;
  font-weight: bold;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.crown {
  vertical-align: middle;
  margin-left: 34%; 
}

.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none;
  height: auto;
}

.liked {
  color: orange;
}

.disliked {
  color: red;
}

.favourite {
  color: yellow;
}

.flagged {
  color: red;
}
.fb-share-button { 
    width: 80px; 
}
.fb-share-button span, 
.fb-share-button iframe {.
    width: 80px !important;
    height: 25px !important;
}

.main-title {
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px black;
  font-size: 145px;
  font-family: monospace;
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  
  color: white;
  
  text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
