/* TurboGears flash bootstrap look */
.link-iframe html, body, div, iframe { margin:0; padding:0; height:100%; }

.link-iframe iframe { display:block; width:100%; border:none; }

#flash > div {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #c09853;
}

#flash > .ok {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#flash > .error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

#flash > .info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Footer styling */
.footer {
    margin-top: 45px;
    padding: 35px 30px 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}

.circle {
  border-radius: 50%;
  width: 350px;
  height: 350px; 
}

.link-iframe .top-bar {
  max-height: 60px;
  background: #25292C;
  border-bottom: 1px solid #414f5a;
  padding: 7px 0;
  color: #fff;
}

.link-iframe .top-bar .collapse {
  display: block !important;
  height: auto !important;
  overflow: visible !important;
  padding-bottom: 0;
}

.link-iframe .link-controls {
  padding: 3px 0;
}

.link-iframe .link-controls a{
  color: #fff;
  margin-left: 20px;
}

.link-iframe .social li {
  background-color: #FFF;
  border-radius: 100% 100% 100% 100%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.6);
  display: inline-block;
  height: 25px;
  margin-right: 5px;
  width: 25px;
  text-align: center;
  background: #fff;
  -webkit-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  -ms-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  padding: 1px;
}
